.pages2{
    box-shadow: 2px 2px 2px;
    background-color:#1c0539;
    margin:40px;
    border-radius:20px;
   
}
.heading{
    font-size:30px;
    background-color: transparent;
}
.pagespara{
    background-color: transparent;

}
.pagesimage{
    background-color: transparent;

}