.pages2 {
  background-color: #1D162E;
  margin: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}
.heading {
  font-size: 30px;
  font-family: "sora";
  font-weight: 400;
  background-color: transparent;
  text-align: center;
}
.pagespara {
  background-color: transparent;
  font-size: 20px;
  color: #B5ADC6;
  text-align: center;
  font-family: "outfit";
}
@media screen and (max-width: 768px) {
  .pages2{
    width: 80%;
  }
}