/* General Styles */
.featurebackground {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #231C33; /* Change height to auto to allow content to dictate height */
  width: 90%; /* Adjust width to fit the screen */
  max-width: 350px; /* Set a maximum width to prevent it from stretching too wide on larger screens */
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto; /* Center the element horizontally */
  border-color: azure;
  box-shadow: 9px;
}

.image {
  background: transparent;
  align-self: flex-start;
  margin: 0;
}

.headingcenter {
  font-size: 25px;
  background: transparent;
  margin-left: 10px;
  font-weight: 400;
  justify-content: flex-start;
  font-family: "sora";
  color: #eee5ff;
  margin-bottom: 10px;
}

.paracenter {
  font-size: 18px;
  background: transparent;
  text-align: left;
  font-family: "outfit";
  margin-top: 0px;
  color: #b0aac0;
  margin-left: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .featurebackground {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .featurebackground {
    width: 90%;
  }

  .image {
    height: 100px;
    width: 100px;
  }

  .headingcenter {
    font-size: 20px;
    text-align: center;
  }
  .feature{
    width: 80vw;
  }
  .paracenter {
    font-size: 16px;
  }
}
